
/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color: #8fdbf2;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:black;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-size: 1.5;
    font-weight: bold;
    color:black;
    font-family:'Courier New', Courier, monospace;
}

h3{
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}

p{
    color:darkgrey;
    font-family: 'Times New Roman', Times, serif;

}

.container-fluid {
    padding: 3% 15%;
}



.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    transform: rotate(15deg);
    position: absolute;
}


#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;

}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color:coral;
    margin-bottom: 1rem;
}

.icon:hover {
    color:cornflowerblue;

}

#testimonials {
    
    text-align: center;
    background-color: #8fdbf2;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}

#press {
    background-color: #8fdbf2;
    text-align: center;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

.carousel {
    padding: 7% 15%;

}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header {
    color: black;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: coral;
    color:aliceblue;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position:static;
        transform: rotate(0);
    }
}